@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

.card {
  color: rgb(214, 230, 255);
  width: 200px;
  height: 110px;
  padding: 16px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: oblique;
}

.chip {
  text-align: left;
}

.brand {
  text-align: right;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cardNumber {
  text-align: left;
  font-size: 16px;
}

.validThru {
  text-align: left;
  font-size: 10px;
}

.name {
  text-align: left;
  font-size: 10px;
}

/* .Handelsbanken {
  background-color: rgb(223, 0, 134);
}

.Nordea {
  background-color: rgb(0, 224, 216);
}

.SEB {
  background-color: rgb(193, 255, 93);
} */

.Igor {
  background: repeating-linear-gradient(
    32deg,
    #e31212,
    #e31212 20px,
    #edb3ff 20px,
    #edb3ff
  );
}

.Chroma {
  background: repeating-linear-gradient(
    12deg,
    #12560d,
    #12560d 15px,
    #000000 30px,
    #000000 30px,
    #000000
  );
}

.Wolf {
  background: repeating-radial-gradient(
    circle,
    #d80707,
    #d80707 16px,
    #edb3ff 10px,
    #edb3ff 20px
  );
}

.choose {
  background-color: gray;
}
