#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

.startPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  padding: 2em;
}

.deleteCardBtn {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 6px;
  font-size: 10px;
  background-color: rgb(35, 35, 35);
  color: rgb(251, 138, 81);
}

.deleteCardBtn:hover {
  background-color: rgb(66, 66, 66);
}

.addNewCardLink {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.cardBtnContainer {
  display: flex;
  align-items: center;
  margin: 16px 0px 24px 0px;
}

.buttonDiv {
  display: flex;
  width: 100%;
  justify-content: center;
}

.formDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 10px 0px;

  #validThruMonth,
  #validThruYear {
    width: 20px;
  }
}

#deleteBtn {
  background-color: orange;
}

#activateBtn {
  background-color: rgb(161, 149, 243);
}

.hidden {
  visibility: hidden;
}
