#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

.startPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  padding: 2em;
}

.deleteCardBtn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 8px;
  font-size: 10px;
  color: rgb(251, 138, 81);
}

.addNewCardLink {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.cardBtnContainer {
  display: flex;
  align-items: center;
  margin: 16px 0px 24px 0px;
}

.formDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 10px 0px;

  #year,
  #month {
    width: 40px;
  }
}

.hidden {
  visibility: hidden;
}
